a.external {
    
    display: inline-block;
    margin-top:30px;
    font-size: 2rem;
    margin-left:10px;
    color:#aaa;

    svg > path:nth-child(1) {

        fill:#aaa;

    }

    .svg-margin {

        margin-top:-5px;

    }

}

a.external:hover{

    color:#7c7c7c;

    svg > path:nth-child(1) {

        fill:#7c7c7c;

    }

}

a.logotext {

    text-decoration: none;

    p::before {

        content:'';
        width:100px;
        height:100px;
        background: url('/assets/logos/top.png');
        background-size: contain;
        position: absolute;
        left:-100px;
        top:0px;

    }

    p {

        position: relative;
        margin-left:100px;
        padding-left: 20px;
        padding-top:10px;
        font-family: LGC;
        font-size: 3em;
        color:rgb(0, 0, 0);

        span {

            display: block;
            font-size: 20px;
            margin-top: -20px;
            margin-left: 10px;
            font-size: 1rem;

        }

    }

}

@media screen and (max-width: 1000px) {

    a.logotext {

        p::before {

            width:64px;
            height:64px;
            left: -32px;

        }

        p {

            margin-left: 0px;
            font-size: 2em;
            padding-left: 38px;
            padding-top:10px;

            span {

                display: none;

            }

        }

    }

    a.external {

        margin-top:20px;
        font-size: 1.5rem;

        svg {

            width: 1.5rem;
            height: 1.5rem;

        }

    }

}