<div class="container-fluid">

    <div class="row">

        <div class="col col-9">

            <div class="row">

                <div class="col col-12">

                    <h2>Upcoming Events</h2>

                    <home-events></home-events>

                </div>

            </div>

            <div class="row">

                <div class="col col-12">

                    <h2>Blog entries</h2>

                </div>

            </div>

        </div>
        <div class="col col-3 overflow-hidden">

            <sidebar></sidebar>

        </div>

    </div>

</div>