<div class="bar flex-container">

    <div class="pages">

        <a class="page" [routerLink]="['/']">
            home
        </a>

        <a class="page" [routerLink]="['/events']">
            events
        </a>

        <a class="page" [routerLink]="['/feeds']">
            feeds
        </a>

        <a class="page" [routerLink]="['/blog']">
            blog
        </a>

    </div>

    <div class="dropdown">

        <a class="menu button dropdown-toggle" href="" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

            <p>                
                <i class="bi bi-list"></i>
            </p>

        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            
            <li>
                <a class="dropdown-item" routerLink="/login">
                    <h2>Login/Register</h2>
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="#">
                    <h2>Donate</h2>
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="#">
                    <h2>Contact</h2>
                </a>
            </li>

        </ul>

    </div>

</div>
<div class="bar-sub flex-container">

    

</div>