.bar {

    width:100%;
    background-color: #1b1b1b;
    height:64px;
    position: sticky;
    z-index: 1;
    top: 0;

    .pages {

        display: flex;
        justify-content: space-evenly;

        a.page {

            display: inline-block;
            color:#FFF;
            font-family: Roboto;
            min-width: 100px;
            width: 10vw;
            text-decoration: none;
            font-variant: small-caps;
            font-family: LGC;
            font-size: 2rem;
            text-align: center;
            vertical-align: middle;
            line-height: 56px;

        }

        a.page:hover {
            background-color: #363636;
        }

    }

    a.menu {

        display: block;
        height:64px;
        width:64px;
        text-decoration: none;
        color:#FFF;
        background-color: #363636;

        i {

            font-size: 36px;

        }

        p {

            width:36px;
            margin:0 auto 0;
            padding-top:5px;

        }

    }

}