<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6">

      <form [formGroup]="FormRegister" novalidate (ngSubmit)="onRegister()">

        <h2>Register</h2>

        <div class="form-group">

          <label class="center-block">
            <span>E-mail:</span>
            <input class="form-control" formControlName="email"> 
            <div *ngIf="validationErrorEmail" class="validation"> 
              <a data-toggle="tooltip" data-placement="top" title="{{validationErrorEmailMessage}}">
                <i class="bi bi-exclamation-triangle-fill"></i>
              </a>
            </div>
          </label>
          <label class="center-block">
            <span>Password:</span>
            <input class="form-control" formControlName="password" type="password">
            <div *ngIf="validationErrorPassword" class="validation"> 
              <a data-toggle="tooltip" data-placement="top" title="{{validationErrorPasswordMessage}}">
                <i class="bi bi-exclamation-triangle-fill"></i>
              </a>
            </div>
          </label>
          <label class="center-block">
            <span>Confirm Password:</span>
            <input class="form-control" formControlName="passwordConfirm" type="password">
          </label>

          <button class="button btn-primary btn" type="submit" [disabled]="validationErrorEmail || validationErrorPassword || FormRegister.invalid || FormRegister.pristine || !FormRegister.value.password || !FormRegister.value.passwordConfirm">submit</button>

        </div>

      </form>

    </div>

    <div class="col-md-6 col-sm-6 col-lg-6">

      <form [formGroup]="FormLogin" novalidate (ngSubmit)="onLogin()">

        <h2>Login</h2>

        <div class="form-group">

          <label class="center-block">
            <span>E-mail:</span>
            <input class="form-control" formControlName="email">
          </label>
          <label class="center-block">
            <span>Password:</span>
            <input class="form-control" formControlName="password" type="password">
          </label>

          <button class="button btn-primary btn" type="submit">submit</button>

        </div>

      </form>

    </div>

  </div>

</div>